################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab7/.vs/Lab7
/Lab7/Lab7-1/obj
